.header {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  overflow: hidden;
  background-color: #f2f2f2;
}
